<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".connect.sample.SampleApp"
        android:allowBackup="false"
        android:label="Phantom Sample"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".connect.sample.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Phantom OAuth callback activity -->
        <activity
            android:name="dev.bmcreations.phantom.connect.PhantomCallbackActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="phantomsample" android:host="phantom-callback" />
            </intent-filter>
        </activity>

        <!-- Phantom Wallet deeplink callback activity -->
        <activity
            android:name="dev.bmcreations.phantom.connect.wallet.PhantomWalletCallbackActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="phantomsample" android:host="phantom-wallet-callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>
